.ui-filterable-table
  table-layout fixed
  border 1px solid red
  color alpha(#fff, .75)

  td
  th
    padding 5px 10px
    border 1px solid alpha(#fff, .25)  
    text-align: left

  th
    text-transform: capitalize
    color alpha(#fff, .9)
    


  &--quotes
    width 100%
    td
    th
      &:first-child
        width: 50% 