.ui-filterable-table
  table-layout fixed
  border 1px solid red
  color alpha(#fff, .75)

  td
  th
    padding 5px 10px
    border 1px solid alpha(#fff, .25)  
    text-align: left

  th
    text-transform: capitalize
    color alpha(#fff, .9)
    
    &.is-clickable
      cursor pointer
    
    -draw-triangle(dir)  
      content ''
      display: inline-block
      vertical-align: middle
      margin-left 5px
      border-left 6px solid transparent
      border-right @border-left
      {unquote('border-' + dir)}: 8px solid #fff

    &.is-asc:after
      -draw-triangle: top
    
    &.is-desc:after
      -draw-triangle: bottom
    


  &--quotes
    width 100%
    td
    th
      &:first-child
        width: 50% 