.producttable-component
  border 1px dashed #f00
  width 500px
  

  th,td
    padding 5px 10px
    text-align left
    

  .is-stocked td:first-child:after
    content ' stocked'
    font-size 80%
    color red
    
    
  .category
    text-align: center
  
