.producttable-component
  border 1px dashed #f00
  width 500px
  
  th
    cursor pointer 
    
    &:after
      content ''
      display: inline-block
      vertical-align: middle
      margin-left 5px
      border-left 6px solid transparent
      border-right @border-left

    &.is-asc:after
      border-bottom 8px solid #fff
    
    &.is-desc:after
      border-top 8px solid #fff
      
  

  th,td
    padding 5px 10px
    text-align left
    

  .is-stocked td:first-child:after
    content ' stocked'
    font-size 80%
    color red
    
    
  .category
    text-align: center
  
