.creator-component
  border 1px dashed #f00


  &__fset
    display inline-block
    vertical-align: top
    padding-left 30px
    padding-right 30px
    

  &__fset_title
    font-weight 400
    color inherit
    
    &:first-letter
      text-transform: uppercase
      

  &__field
    display inline-block
    margin-right 20px
    cursor: pointer
    
    input
      margin-right 5px

    &:hover span
      text-decoration: underline
      
  &__btn
    background: green
    color: #fff
    margin: 15px